<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>网站后台管理模版</title>
    <link rel="stylesheet" type="text/css" th:href="@{/admin/layui/css/layui.css}" href="../../../static/admin/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/admin.css}" href="../../../static/admin/css/admin.css"/>
</head>
<body>
<div class="page-content-wrap">
    <form class="layui-form" th:action="@{/manage-course/course}" method="post">
        <div class="layui-tab" style="margin: 0;">
            <ul class="layui-tab-title">
                <li><a th:href="@{/manage-course/courses}" href="article-list.html">课程列表</a></li>
                <li class="layui-this">课程信息修改</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item"></div>
                <div class="layui-tab-item layui-show">
                    <div class="layui-form-item">
                        <label class="layui-form-label">课程名称：</label>
                        <div class="layui-input-block">
                            <input type="text" name="courseName" required lay-verify="required" placeholder="请输入课程名称"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">班级：</label>
                        <div class="layui-input-block">
                            <input type="number" name="classId"  placeholder="请输入班级编号"
                                   autocomplete="off" class="layui-input" >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">教室：</label>
                        <div class="layui-input-block">
                            <input type="number" name="roomId"  placeholder="请输入教室编号"
                                   autocomplete="off" class="layui-input" >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">教师：</label>
                        <div class="layui-input-block">
                            <input type="number" name="teacherId"  placeholder="请输入教师编号"
                                   autocomplete="off" class="layui-input" >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">启用：</label>
                        <div class="layui-input-block">
                            <input type="radio" name="usageStatusFlag" checked value="1" title="正常">
                            <input type="radio" name="usageStatusFlag" value="0" title="禁用">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item" style="padding-left: 10px;">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" id="formSubmit">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script src="../../../static/admin/layui/layui.js" th:src="@{/admin/layui/layui.js}" type="text/javascript" charset="utf-8"></script>
<script src="../../../static/admin/js/common.js" th:src="@{/admin/js/common.js}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="asserts/js/jquery-3.2.1.slim.min.js" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
<script>

    layui.use(['form', 'jquery', 'laydate', 'layer', 'laypage', 'dialog', 'element', 'upload', 'layedit'], function () {
        var form = layui.form(),
            layer = layui.layer,
            $ = layui.jquery,
            laypage = layui.laypage,
            laydate = layui.laydate,
            layedit = layui.layedit,
            element = layui.element(),
            dialog = layui.dialog;

        //获取当前iframe的name值
        var iframeObj = $(window.frameElement).attr('name');
        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor', {
            tool: ['strong' //加粗
                , 'italic' //斜体
                , 'underline' //下划线
                , 'del' //删除线
                , '|' //分割线
                , 'left' //左对齐
                , 'center' //居中对齐
                , 'right' //右对齐
                , 'link' //超链接
                , 'unlink' //清除链接
                , 'image' //插入图片
            ],
            height: 100
        })
        //全选
        form.on('checkbox(allChoose)', function (data) {
            var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
            child.each(function (index, item) {
                item.checked = data.elem.checked;
            });
            form.render('checkbox');
        });
        form.render();

        layui.upload({
            url: '上传接口url',
            success: function (res) {
                console.log(res); //上传成功返回值，必须为json格式
            }
        });
    });

    // /*点击保存后提交，关闭弹框*/
    // $("#formSubmit").click(function () {
    //     var url=$(this).parents("form").attr("action");
    //     //console.log(url);
    //     $.ajax({
    //         type: "POST",
    //         url: url,
    //         data: {_method:"DELETE"},
    //         dataType: "json",
    //         success: function(){
    //             layer.msg('确定了')
    //         }
    //     });
    // });
</script>
</body>
</html>