<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.kwrcee.sortcourse.manage.mapper.CourseMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="top.kwrcee.sortcourse.manage.entities.Course">
        <result column="course_id" property="courseId" jdbcType="DECIMAL"/>
        <result column="course_name" property="courseName" jdbcType="VARCHAR"/>
        <result column="course_num" property="courseNum" jdbcType="VARCHAR"/>
        <result column="course_quantity" property="courseName" jdbcType="DECIMAL"/>
        <result column="teacher_id" property="teacherId" jdbcType="DECIMAL"/>
        <result column="class_id" property="classId" jdbcType="DECIMAL"/>
        <result column="room_id" property="roomId" jdbcType="DECIMAL"/>
        <result column="usage_status_flag" property="usageStatusFlag" jdbcType="DECIMAL"/>
    </resultMap>
    <sql id="BaseColumnList">
        co.course_id,
        co.course_name,
        co.teacher_id,
        co.room_id,
        co.class_id,
        co.usage_status_flag,
        co.course_num,
        co.course_quantity,
        co.sort_status_flag,
        co.OBJECT_VERSION_NUMBER
    </sql>
    <!--时间表查询-->
    <select id="selectByCourseDistinct" parameterType="top.kwrcee.sortcourse.manage.entities.Course"
            resultType="top.kwrcee.sortcourse.manage.vo.CourseVO">
        select
        distinct
        co.course_name,
        co.teacher_id,
        co.room_id,
        co.class_id,
        co.usage_status_flag,
        th.teacher_name,
        rm.room_num,
        cd.class_name,
        cd.major,
        co.course_num,
        co.course_quantity,
        co.sort_status_flag
        from course co
        left join teacher th on th.teacher_id=co.teacher_id
        left join classroom rm on rm.room_id = co.room_id
        left join class_dto cd on cd.class_id = co.class_id
        left join schedule sh on co.course_id=sh.course_id
        <where>
            <if test="courseId != null">
                and co.course_id = #{courseId,jdbcType=DECIMAL}
            </if>
            <if test="courseName != null and courseName !='' ">
                <bind name="courseName" value="'%'+ courseName +'%'"/>
                and co.course_name like #{courseName,jdbcType=VARCHAR}
            </if>
            <if test="teacherId != null">
                and co.teacher_id = #{teacherId,jdbcType=DECIMAL}
            </if>
            <if test="courseId != null">
                and co.room_id = #{roomId,jdbcType=DECIMAL}
            </if>
            <if test="courseId != null">
                and co.class_id = #{classId,jdbcType=DECIMAL}
            </if>
            <if test="usageStatusFlag != null ">
                and co.usage_status_flag = #{usageStatusFlag,jdbcType=DECIMAL}
            </if>
            <if test="sortStatusFlag != null">
                and co.sort_status_flag = #{sortStatusFlag,jdbcType=DECIMAL}
            </if>
        </where>
    </select>
    <select id="selectByCourse" parameterType="top.kwrcee.sortcourse.manage.entities.Course"
            resultType="top.kwrcee.sortcourse.manage.vo.CourseVO">
        select
        sh.time_id,
        sh.course_day,
        sh.course_time,
        th.teacher_name,
        rm.room_num,
        cd.class_name,
        cd.major,
        <include refid="BaseColumnList"/>
        from course co
        left join teacher th on th.teacher_id=co.teacher_id
        left join classroom rm on rm.room_id = co.room_id
        left join class_dto cd on cd.class_id = co.class_id
        left join schedule sh on co.course_id=sh.course_id
        <where>
            th.usage_status_flag = 1
            and rm.usage_status_flag = 1
            and cd.usage_status_flag = 1
            <if test="courseId != null">
                and co.course_id = #{courseId,jdbcType=DECIMAL}
            </if>
            <if test="courseName != null and courseName !='' ">
                <bind name="courseName" value="'%'+ courseName +'%'"/>
                and co.course_name like #{courseName,jdbcType=VARCHAR}
            </if>
            <if test="teacherId != null">
                and co.teacher_id = #{teacherId,jdbcType=DECIMAL}
            </if>
            <if test="courseId != null">
                and co.room_id = #{roomId,jdbcType=DECIMAL}
            </if>
            <if test="courseId != null">
                and co.class_id = #{classId,jdbcType=DECIMAL}
            </if>
            <if test="usageStatusFlag != null ">
                and co.usage_status_flag = #{usageStatusFlag,jdbcType=DECIMAL}
            </if>
            <if test="sortStatusFlag != null">
                and co.sort_status_flag = #{sortStatusFlag,jdbcType=DECIMAL}
            </if>
        </where>
    </select>
    <select id="queryMaxLineNum" resultType="java.lang.Long">
        select max(co.course_num) + 1
        from course co
    </select>
    <!--判断冲突的时候需要的查询-->
    <select id="selectTimeTable" resultType="top.kwrcee.sortcourse.manage.vo.CourseVO">
        select
        th.teacher_name,
        rm.room_num,
        cd.class_name,
        cd.major,
        <include refid="BaseColumnList"/>
        from course co
        join schedule sh on co.course_id=sh.course_id
        left join teacher th on th.teacher_id=co.teacher_id
        left join classroom rm on rm.room_id = co.room_id
        left join class_dto cd on cd.class_id = co.class_id
        where
        co.usage_status_flag = 1
        <if test="course.teacherId != null">
            and co.teacher_id = #{course.teacherId,jdbcType=DECIMAL}
        </if>
        <if test="course.roomId != null">
            and co.room_id = #{course.roomId,jdbcType=DECIMAL}
        </if>
        <if test="course.classId != null">
            and co.class_id = #{course.classId,jdbcType=DECIMAL}
        </if>
        <if test="week.day != null">
            and sh.course_day = #{week.day,jdbcType=DECIMAL}
        </if>
        <if test="week.time != null">
            and sh.course_time = #{week.time,jdbcType=DECIMAL}
        </if>
        <if test="course.sortStatusFlag">
            and co.sort_status_flag = #{co.sortStatusFlag,jdbcType=DECIMAL}
        </if>
    </select>
</mapper>