<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.kwrcee.sortcourse.manage.mapper.RoomMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="top.kwrcee.sortcourse.manage.entities.Room">
        <result column="room_id" property="roomId" jdbcType="DECIMAL"/>
        <result column="room_name" property="roomName" jdbcType="VARCHAR"/>
        <result column="room_num" property="roomNum" jdbcType="VARCHAR"/>
        <result column="location" property="location" jdbcType="DECIMAL"/>
        <result column="floor" property="floor" jdbcType="DECIMAL"/>
        <result column="usage_status_flag" property="usageStatusFlag" jdbcType="DECIMAL"/>
        <result column="manager" property="manager" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="BaseColumnList">
        rm
    </sql>
    <select id="selectByRoom" resultMap="BaseResultMap">
        select
            rm.room_id,
            rm.room_name,
            rm.room_num,
            rm.location,
            rm.floor,
            rm.usage_status_flag,
            rm.manager,
            rm.remark
        from classroom rm
        <where>
            <if test="roomName != null and roomName !='' ">
                <bind name="roomName" value="'%'+ roomName +'%'"/>
                and rm.room_name like #{roomName,jdbcType=VARCHAR}
            </if>
            <if test="roomNum != null and roomNum !='' ">
                <bind name="roomNum" value="'%'+ roomNum +'%'"/>
                and rm.room_num like #{roomNum,jdbcType=VARCHAR}
            </if>
            <if test="manager != null and manager !='' ">
                <bind name="manager" value="'%'+ manager +'%'"/>
                and rm.manager like #{manager,jdbcType=VARCHAR}
            </if>
            <if test="location != null and location !='' ">
                and rm.location = #{location,jdbcType=VARCHAR}
            </if>
        </where>

    </select>
</mapper>